* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #DFEBF4;
    width: 100vw;
    height: 100vh;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #DFEBF4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 280px;
    max-height: 653px;
    margin: auto;
    margin-top: 9em;
    /* padding-left: 25px;
    padding-right: 25px; */
    border: 4px solid #F7FAFC;
    border-radius: 10px 10px 0 0;
    background-color: #0B3954;
}

.submit {
    display: block;
    position: relative;
    width: 15em;
    margin : 2vh auto;
}

label {
    display: block;
    position: relative;
    text-align: center;
    margin: 1vh auto;
    font-size: 0.9em;
    color: #F3F8FB;
}

input{
    text-align: center;
    display: block;
    position: relative;
    width: 15em;
    height: 2em;
    margin: auto;
    border-radius: 0.2cm;
    border: 2px solid #ccc;
}

table {
    position: relative;
    margin: auto;
}

table {
    border-collapse: collapse;
}

td, th {
    border-bottom: 2px solid ccc;
    width: 15em;
    text-align: center;
    font-size: 0.9rem;
}
th {
    background-color: #65889F;
}

td {
    background-color: #BFD7EA;
}

.tableform {
    margin-top: 5vw;
    /* border: 1px solid red; */
}

.inputform {
    margin-bottom: 5vw;
    margin-top: 4vw;
    /* border: 1px solid blue; */
}

.submit{ 
    background-color: #1877f2; 
    border: none; 
    border-radius: 6px; 
    color: #fff;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    height: 36px;
    width: 13.3em;
    transition: 0.3s; 
    cursor: pointer; 
} 
    
.submit:hover{
    background-color: #e4e6eb; 
    color: #050505; 
    font-size: 15px; 
    transition: 0.3s; 
}

a {
    text-decoration: underline;
    color: black;
}

a:visited, a:active {
    color: black;
}
    


